<h1>Esqueci Minha Senha</h1>

<% if flash[:notice] %>
  <div style="color: green; font-weight: bold;">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div style="color: red; font-weight: bold;">
    <%= flash[:alert] %>
  </div>
<% end %>

<p>Insira o e-mail associado à sua conta. Enviaremos um link para redefinir sua senha.</p>

<%= form_with url: forgot_password_users_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :email, "E-mail" %>
    <%= form.email_field :email, required: true %>
  </div>
  <div>
    <%= form.submit "Enviar Instruções", class: "btn btn-primary" %>
  </div>
<% end %>