<h1><%= I18n.t('application.users.forgot_password.title') %></h1>

<p><%= I18n.t('application.users.forgot_password.instructions') %></p>

<%= form_with url: forgot_password_users_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :email, I18n.t('application.users.forgot_password.email') %>
    <%= form.email_field :email, required: true %>
  </div>
  <div>
    <%= form.submit I18n.t('application.users.forgot_password.submit'), class: "btn btn-primary" %>
  </div>
<% end %>
