 <body>
    <div>
      <div>
          
          <div >
            <h1> Bem-vindo ao TheBlog!</h1>
            <p> Venha criar seus posts diários </p>
          </div>

          <div>
            <h1> Cadastro</h1>
            <%= form_with(url: signup_path, local: true) do |form| %>
              <div >
                <%= form.label :name, "Name" %>
                <%= form.text_field :name, placeholder: "Insira seu nome", required: true, name: "user[name]" %>
              </div>
              <div>
                <%= form.label :email, "Email" %>
                <%= form.email_field :email, placeholder: "Insira seu email", required: true, name: "user[email]" %>
              </div>
              
              <div >
                <%= form.label :password, "Senha" %>
                <%= form.password_field :password, placeholder: "Insira sua senha", required: true, name: "user[password]" %>
              </div>
              
              <div>
                <%= form.label :password_confirmation, "Confirmação de Senha"  %>
                <%= form.password_field :password_confirmation, placeholder: "Insira sua senha", required: true, name: "user[password_confirmation]"  %>
              </div>
              
              <div >
                <%= form.submit "Cadastrar"%>
              </div>
            <% end %>
            <p>
              Já possui uma conta? 
              <%= link_to 'Login', login_path %>
            </p>
            <p>
              <%= link_to 'Home', posts_path %>
            </p>

        </div>
      </div>
    </div>
  </body>