<h1><%= I18n.t('application.users.reset_password.title') %></h1>

<p><%= I18n.t('application.users.reset_password.instruction') %></p>

<%= form_with url: reset_password_users_path, method: :patch, local: true do |form| %>
  <%= hidden_field_tag :token, @token %>

  <div>
    <%= form.label :password, I18n.t('application.users.reset_password.new_password') %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.label :password_confirmation, I18n.t('application.users.reset_password.confirm_password') %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>

  <div>
    <%= form.submit I18n.t('application.users.reset_password.submit'), class: "btn btn-primary" %>
  </div>
<% end %>
