<h1>Redefinir Senha</h1>

<p>Defina uma nova senha para sua conta.</p>

<%= form_with url: reset_password_users_path, method: :patch, local: true do |form| %>
  <%= hidden_field_tag :token, @token %>
  
  <div>
    <%= form.label :password, "Nova Senha" %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.label :password_confirmation, "Confirme a Nova Senha" %>
    <%= form.password_field :password_confirmation, required: true %>
  </div>

  <div>
    <%= form.submit "Redefinir Senha", class: "btn btn-primary" %>
  </div>
<% end %>