<p><%= t('password_mailer.reset_password_email.body.greeting', name: @user.name) %></p>

<p><%= t('password_mailer.reset_password_email.body.instructions') %></p>

<p>
  <a href="<%= @reset_link %>"><%= t('password_mailer.reset_password_email.body.button') %></a>
</p>

<p><%= t('password_mailer.reset_password_email.body.closing') %></p>