<section class="dashboard">

  <div class="tags-filter">
    <h3><%= t('application.tags_filter.title') %></h3>
    <%= form_with url: posts_path, method: :get, local: true do |form| %>
      <%= form.label :tag, t('application.tags_filter.select_label'), class: "filter-label" %>
      <%= form.select :tag, Tag.order(:name).pluck(:name), include_blank: t('application.tags_filter.all_tags'), selected: params[:tag], class: "filter-select" %>
      <%= form.submit t('application.tags_filter.filter_button'), class: "filter-button" %>
    <% end %>
  </div>

  <%= turbo_stream_from "posts" %>
  <div class="posts">
    <h2><%= t('application.posts.title') %></h2>
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <%= render partial: "post", locals: { post: post } %>
      <% end %>
    <% else %>
      <% if params[:tag].present? %>
        <p><%= t('application.posts.no_posts_for_tag') %></p>
      <% else %>
        <p><%= t('application.posts.no_posts') %></p>
      <% end %>
    <% end %>

    <div class="pagination">
      <%= paginate @posts %>
    </div>
  </div>

</section>

