<h1><%= t('application.posts.my_posts') %></h1>

<div class="tags-filter">
  <h3><%= t('application.tags_filter.title') %></h3>
  <%= form_with url: posts_path, method: :get, local: true do |form| %>
    <%= form.label :tag, t('application.tags_filter.select_label'), class: "filter-label" %>
    <%= form.select :tag, Tag.order(:name).pluck(:name), include_blank: t('application.tags_filter.all_tags'), selected: params[:tag], class: "filter-select" %>
    <%= form.submit t('application.tags_filter.filter_button'), class: "filter-button" %>
  <% end %>
</div>

<% if @posts.any? %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <h3><%= post.title %></h3>
        <p><%= post.content.truncate(200) %></p>
        <p><small><%= t('application.posts.published_on', date: post.created_at.strftime('%d/%m/%Y')) %></small></p>

        <% if post.tags.any? %>
          <div class="tags-container">
            <% post.tags.each do |tag| %>
              <span class="tag">
                <%= tag.name %>
                <%= form_with url: destroy_from_post_tag_path(tag, post_id: post.id), method: :delete, data: { confirm: t('application.tags.confirm_remove') }, local: true do |form| %>
                  <%= form.submit 'X', class: 'btn btn-danger' %>
                <% end %>
              </span>
            <% end %>
          </div>
        <% end %>

        <div>
          <%= link_to t('application.posts.edit'), edit_post_path(post), class: 'btn btn-primary' %>
          <%= form_with url: post_path(post), method: :delete, data: { confirm: t('posts.confirm_delete') }, local: true do |form| %>
            <%= form.submit t('application.posts.delete'), class: 'btn btn-danger' %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="pagination">
      <%= paginate @posts %>
  </div>
<% else %>
  <% if params[:tag].present? && @posts.empty? %>
    <p><%= t('application.posts.no_posts_for_tag') %></p>
  <% elsif @posts.empty? %>
    <p><%= t('application.posts.no_posts') %></p>
  <% end %>
<% end %>

<%= link_to t('application.posts.back'), posts_path %>