<h1>Meus Posts</h1>
  <header>
    <nav>
        <ul>
        <p> TheBlog </p>
            <li><%= link_to 'Novo Post', new_post_path %></li>
            <li><%= link_to 'Posts', posts_path %></li>
            <li><%= link_to 'Sair', logout_path, method: :delete %></li>
        </ul>
    </nav>
  </header>

<% if @posts.any? %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <h3><%= post.title %></h3>
        <p><%= post.content.truncate(200) %></p>
        <p><small>Publicado em: <%= post.created_at.strftime('%d/%m/%Y') %></small></p>
        
        <!-- Botões para Editar e Apagar -->
        <div>
          <%= link_to 'Editar', edit_post_path(post), class: 'btn btn-primary' %>
          <%= form_with url: post_path(post), method: :delete, data: { confirm: "Tem certeza que deseja excluir este post?" }, local: true do |form| %>
            <%= form.submit 'Apagar', class: 'btn btn-danger' %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Você ainda não criou nenhum post.</p>
<% end %>