<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p><small>Publicado em: <%= @post.created_at.strftime('%d/%m/%Y') %></small></p>

<h2>Comentários</h2>
<% if @comments.any? %>
  <% @post.comments.each do |comment| %>
    <div class="comment">
      <p><strong>
        <% if comment.anonymous || comment.user.nil? %>
          Anônimo:
        <% else %>
          <%= comment.user.name %>:
        <% end %>
      </strong> <%= comment.content %></p>

      <% if !comment.anonymous && comment.user == current_user %>
        <%= form_with url: post_comment_path(@post, comment), method: :delete, data: { confirm: "Tem certeza?" } do %>
          <%= submit_tag 'Excluir' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>Não há comentários ainda. Seja o primeiro a comentar!</p>
<% end %>

<h3>Deixe seu comentário</h3>
<%= form_with model: [@post, Comment.new], local: true do |form| %>
  <div>
    <%= form.label :content, "Comentário" %>
    <%= form.text_area :content, rows: 6 %>
  </div>
  <div>
    <%= form.submit "Comentar" %>
  </div>
<% end %>

<%= link_to 'Voltar', posts_path %>