<!DOCTYPE html>
<html>
  <head>
    <title>TheBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <div>
      <%= link_to 'English', url_for(locale: 'en') %> | 
      <%= link_to 'Português', url_for(locale: 'pt') %>
    </div>

    <div class="flash-messages" data-controller="flash">
      <% flash.each do |type, message| %>
        <div class="flash-message <%= type %>">
          <%= message %>
        </div>
      <% end %>
    </div>

    <% if (controller_name == 'posts' && (action_name == 'index' || action_name == 'my_posts')) || controller_name == 'tags' %>
      <header>
        <nav>
          <ul>
            <p>TheBlog</p>
            <% if logged_in? %>
              <li><%= link_to t('application.nav.new_post'), new_post_path %></li>

              <% if controller_name == 'posts' && action_name == 'index' %>
                <li><%= link_to t('application.nav.my_posts'), my_posts_posts_path %></li>
              <% elsif (controller_name == 'posts' && action_name == 'my_posts') || controller_name == 'tags'  %>
                <li><%= link_to t('application.nav.index'), posts_path %></li>
              <% end %>
            
              <li><%= link_to t('application.nav.tags'), tags_path %></li>
              <li><%= link_to t('application.nav.settings'), edit_user_path(current_user) %></li>
              <li><%= link_to t('application.nav.logout'), logout_path %></li>
            <% else %>
              <li><%= link_to t('application.nav.login'), login_path %></li>
              <li><%= link_to t('application.nav.signup'), signup_path %></li>
            <% end %>
          </ul>
        </nav>
      </header>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; <%= Time.now.year %> <%= t('application.footer') %></p>
    </footer>
  </body>
</html>
